// =========================
// Global Config
// =========================

// Font Stacks

$font-url--google			:	'http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900';
// $font-url--typekit			:	'';

$font-family--primary		: 	'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family--secondary		:	'Helvetica Neue', Helvetica, Arial, sans-serif;

// Font Weights

$font-weight--thin		: 	100;
$font-weight--light		: 	300;
$font-weight--medium		: 	400;
$font-weight--bold		: 	700;
$font-weight--ultra-bold	: 	900;

// Descriptive Base Colors

$white	:	#fff;
$black		: 	#0b0b0b;
$grey		:	#797e83;

$fountain-blue	:	#52bab3;
$emerald		:	#5ece7f;
$sunglo		:	#e67478;
$coral			:	#ff784f;
$purple-majesty	:	#9279c3;
$scooter		:	#39add1;

// Color Usage

$color-primary		:	$fountain-blue;
$color-secondary 		:	$scooter;
$color-accent		:	$emerald;
$color-shadow		:	rgba($black, .2);

// Color Palette Modifiers

$palettes: (
	grey: (
		xx-light 	: lighten($grey, 43%),
		x-light 	: lighten($grey, 35%),
		light 		: lighten($grey, 12%),
		base 		: $grey,
		dark 		: darken($grey, 8%),
		x-dark 	: darken($grey, 16%)
	),
	black: (
		light 		: lighten($black, 10%),
		base 		: $black,
		dark 		: darken($black, 10%)
	),
	blue: (
		xx-light 	: lighten($scooter, 43%),
		x-light 	: lighten($scooter, 35%),
		light 		: lighten($scooter, 12%),
		base 		: $scooter,
		dark 		: darken($scooter, 8%),
		x-dark 	: darken($scooter, 16%)
	),
	green: (
		xx-light 	: lighten($emerald, 43%),
		x-light 	: lighten($emerald, 35%),
		light 		: lighten($emerald, 12%),
		base 		: $emerald,
		dark 		: darken($emerald, 8%),
		x-dark 	: darken($emerald, 16%)
	),
	red: (
		xx-light 	: lighten($sunglo, 43%),
		x-light 	: lighten($sunglo, 35%),
		light 		: lighten($sunglo, 12%),
		base 		: $sunglo,
		dark 		: darken($sunglo, 8%),
		x-dark 	: darken($sunglo, 16%)
	),
	yellow: (
		xx-light 	: lighten($coral, 43%),
		x-light 	: lighten($coral, 35%),
		light 		: lighten($coral, 12%),
		base 		: $coral,
		dark 		: darken($coral, 8%),
		x-dark 	: darken($coral, 16%)
	),
	purple: (
		xx-light 	: lighten($purple-majesty, 43%),
		x-light 	: lighten($purple-majesty, 35%),
		light 		: lighten($purple-majesty, 12%),
		base 		: $purple-majesty,
		dark 		: darken($purple-majesty, 8%),
		x-dark 	: darken($purple-majesty, 16%)
	)
);

// UI Colors

$ui-colors: (
	default 	: $fountain-blue,
	success 	: $emerald,
	error 		: $sunglo,
	warning 	: $coral,
	info 		: $purple-majesty
);

// Text

$base__font-size		: 	16px;
$base__line			: 	24px;