@import 'config';
@import 'helpers';
@import 'utilities';
@import 'base';
@import 'main';

header{
	background-color: palette(blue, x-dark);
	h1{
		color: $white;
	}
	h2{
		color: $black;
	}
}
div{
	height: 200px;
	margin-bottom: 5px;
	width: 200px;
	display: inline-block;
	&.blue{
		background-color: palette(blue);
	}
	&.blue--light{
		background-color: palette(blue, light);
	}
	&.blue--x-light{
		background-color: palette(blue, x-light);
	}
	&.blue--dark{
		background-color: palette(blue, dark);
	}
	&.blue--x-dark{
		background-color: palette(blue, x-dark);
	}
	&.green{
		background-color: palette(green);
	}
	&.green--light{
		background-color: palette(green, light);
	}
	&.green--x-light{
		background-color: palette(green, x-light);
	}
	&.green--dark{
		background-color: palette(green, dark);
	}
	&.green--x-dark{
		background-color: palette(green, x-dark);
	}
	&.red{
		background-color: palette(red);
	}
	&.red--light{
		background-color: palette(red, light);
	}
	&.red--x-light{
		background-color: palette(red, x-light);
	}
	&.red--dark{
		background-color: palette(red, dark);
	}
	&.red--x-dark{
		background-color: palette(red, x-dark);
	}
	&.yellow{
		background-color: palette(yellow);
	}
	&.yellow--light{
		background-color: palette(yellow, light);
	}
	&.yellow--x-light{
		background-color: palette(yellow, x-light);
	}
	&.yellow--dark{
		background-color: palette(yellow, dark);
	}
	&.yellow--x-dark{
		background-color: palette(yellow, x-dark);
	}
	&.purple{
		background-color: palette(purple);
	}
	&.purple--light{
		background-color: palette(purple, light);
	}
	&.purple--x-light{
		background-color: palette(purple, x-light);
	}
	&.purple--dark{
		background-color: palette(purple, dark);
	}
	&.purple--x-dark{
		background-color: palette(purple, x-dark);
	}
}