@import 'config', 'helpers', 'utilities', 'extends', 'base', 'main', 'nav';

header{
	background-color: map-get($ui-colors, default);
	h1{
		color: $white;
	}
	h2{
		color: $black;
	}
}
div{
	height: 200px;
	margin-bottom: 5px;
	width: 200px;
	display: inline-block;
}