@import "theme";

article.blogPostContainer {
  max-width: 740px;
  margin: 32px auto 0;
  header {
    h1 {
      margin: 0;
    }
    p {
      margin: 8px 0 0 0;
    }
    hr {
      border-width: 0.5px;
      border-color: rgba(0, 0, 0, 0.15);
      margin-top: 16px;
      margin-bottom: 16px;
    }
  }
  section {
    p {
      line-height: 1.5;
      margin-top: 0;
    }
    ul {
      margin-top: 0;
    }
    ol {
    }
    h2 {
      margin-top: 40px;
      margin-bottom: 8px;
    }
    h3 {
      margin-top: 24px;
      margin-bottom: 8px;
    }
    h4 {
      margin-top: 24px;
      margin-bottom: 8px;
    }
    h5 {
      margin-top: 24px;
      margin-bottom: 8px;
    }
    h6 {
      margin-top: 24px;
      margin-bottom: 8px;
    }
    blockquote {
      font-style: italic;
      border-left: 10px solid rgba(0, 0, 0, 0.15);
      padding: 0 16px;
      margin-left: 0;
    }
    code {
      font-size: 14px;
    }
  }
  hr {
    border-width: 0.5px;
    border-color: rgba(0, 0, 0, 0.15);
    margin-top: 40px;
    margin-bottom: 16px;
  }
}

p.blogPostDate {
  color: $color-foreground-secondary;
  //   font-size: 14px;
}

article {
  header {
    margin-bottom: 0;
  }
  section {
    margin-top: -8px;
  }
}

.nextPrevSection {
  max-width: 740px;
  margin: 32px auto 0;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 32px;
}

a.nextLink {
  text-align: right;
}
