@import "theme";

.contentWrapper {
  max-width: 800px;
  margin: 64px auto 24px;
}

.CardsGrid {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 32px;
  align-items: top;
  h1 {
    margin-top: 0;
  }
  article {
    header {
      h3 {
        margin: 0;
      }
    }
    section {
      p {
        margin-bottom: 0;
      }
    }
    hr {
      margin: 32px 0 0;
    }
  }
}
