@import "theme";

.contentWrapper {
  max-width: 1100px;
  margin: 32px auto 24px;

  h1, h2, h3, h4, h5, h6 {
    a {
      padding-right: 4px;
      margin-left: -20px;
  
      svg {
        visibility: hidden;
      }
    }
  }  
}

.TwoColumnGrid {
  display: grid;
  grid-template-columns: 280px auto;
  grid-gap: 64px;
  align-items: top;
  h1 {
    margin-top: 0;
  }
  .PageContent {
    max-width: 760px;
  }
}