.svg-logo-think {
    background-image: url($svg-logo-tc);
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
}

.svg-icon-what {
    background-image: url($svg-icon-what);
    width: 60px;
    height: 60px;
}

.svg-icon-blog {
    background-image: url($svg-icon-blog);
    width: 60px;
    height: 60px;
}
