.hub-card {
    align-items: center;
    background-color: $white;
    border: 1px solid $silver;
    border-radius: 8px;
    display: flex;
    width: auto;
    margin-bottom: 1.563em;
    padding: 1.375em 1.25em;

    @include wider-than($breakpoint-ipad-portrait) {
        width: 50%;

        &:not(:last-child) {
            margin-right: 2.5em;
        }
    }

    h3 {
        margin-bottom: 0.375em;
        margin-top: 0;
    }

    img {
        display: block;
        height: 70px;
        width: 70px;
    }

    p {
        margin-bottom: 0.375em;
    }
}

@supports (display: grid) {
    .hub-card {
        width: auto;

        &:not(:last-child) {
            margin-right: 0;
        }
    }
}

.hub-think-card {
    align-items: flex-start;
    background-color: transparent;
    border-color: $spicy-pink;
    color: $white;
    padding-bottom: 0;
    padding-top: 0;
}

.hub-card-image-frame {
    border-radius: 50%;
    display: inline-block;
    height: 70px;
    margin-right: 1.25em;
    overflow: hidden;
    width: 70px;
    vertical-align: middle;
}



.hub-contact-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include wider-than($breakpoint-ipad-portrait) {
        flex-direction: row;
    }

    .hub-card {

        @include narrower-than($breakpoint-device-narrow) {
            align-items: center;
            flex-direction: column;
        }

        .hub-card-image-frame {

            @include narrower-than($breakpoint-device-narrow) {
                margin-bottom: 0.938em;
                margin-right: 0;
            }
        }

        .hub-card-content {
            @include narrower-than($breakpoint-device-narrow) {
                text-align: center;
            }
        }

    }
}

@supports (display: grid) {

    .hub-contact-cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 0;
        grid-column-gap: 40px;

        @include wider-than($breakpoint-ipad-portrait) {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}


.hub-think-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    max-width: $max-width;
    padding-bottom: 1.563em;
    width: 90%;

    @include wider-than($breakpoint-ipad-portrait) {
        flex-direction: row;
        width: 85%;
    }
}

@supports (display: grid) {
    .hub-think-cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 0;
        grid-column-gap: 40px;

        @include wider-than($breakpoint-ipad-portrait) {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

.hub-think-card-body {
    margin-bottom: 1.375em;
    margin-top: 1.375em;

    a {
        color: $white;
    }

    h4 {
        margin-top: 0;
    }

    p {
        line-height: 1.6;
        margin-bottom: 0.5em;
    }
}
