.hub-contact-section {
    background-color: $concrete;
    padding-bottom: 1.563em;
    padding-top: 3.125em;

    .hub-section-heading {
        border: 0;
        margin-bottom: 3.125em;
        text-align: center;
    }
}

.hub-contacts {
    margin: 0 auto;
    max-width: $max-width;
    width: 90%;

    @include wider-than($breakpoint-ipad-portrait) {
        width: 85%;
    }
}

.hub-contact-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include wider-than($breakpoint-ipad-portrait) {
        flex-direction: row;
    }

    .hub-card {

        @include narrower-than($breakpoint-device-narrow) {
            align-items: center;
            flex-direction: column;
        }

        .hub-card-image-frame {

            @include narrower-than($breakpoint-device-narrow) {
                margin-bottom: 0.938em;
                margin-right: 0;
            }
        }

        .hub-card-content {
            @include narrower-than($breakpoint-device-narrow) {
                text-align: center;
            }
        }

    }
}

@supports (display: grid) {

    .hub-contact-cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 0;
        grid-column-gap: 40px;

        @include wider-than($breakpoint-ipad-portrait) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

}
