.hub-hero {
    background-color: $eastern-blue;
    color: $white;
    margin-bottom: 3.125em;
    padding: 1.25em 0 4.125em;
    text-align: center;

    .hub-hero-inner {
        margin: 0 auto; 
        width: 90%;

        @include wider-than($breakpoint-ipad-portrait) {
            width: 60%;
        }
    }

    p {
        font-size: 1em;
        line-height: 1.8;
        margin-bottom: 30px;
    }
}
