.hub-section {
    margin: 0 auto 1.875em;
    max-width: $max-width;
    width: 90%;

    @include wider-than($breakpoint-ipad-portrait) {
        margin: 0 auto 4.375em;
        width: 85%;
    }
}

.hub-section-heading {
    border-bottom: 2px solid $silver;
    margin-bottom: 1.875em;

    h2 {
        margin-top: 0;
    }

    h2 + p {
        font-size: 1em;
    }

    p {
        line-height: 1.4;
    }
}

.hub-entries {
    width: 100%;

    &::after {
        clear: both;
        content: "";
        display: table;
    }
}

@supports (display: grid) {
    .hub-entries {
        display: grid;
        grid-area: entries;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 2.5em;
        grid-column-gap: 40px;
        justify-content: space-between;
    
        @include wider-than($breakpoint-ipad-portrait) {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

.hub-entry {

    margin-bottom: 2.5em;

    .hub-entry-img-frame {
        background-color: $concrete;
        border: 1px solid $silver;
        border-radius: 8px;
        display: block;
        margin-bottom: 1.25em;
    }

    .hub-entry-link {
        display: block;
        margin-bottom: 0.625em;
    }

    em {
        font-size: 0.75em;
    }

    img {
        backface-visibility: hidden;
        display: block;
        opacity: 1;
        transition: opacity 0.2s ease-in-out;
        width: 100%;

        &:hover {
            opacity: 0.7;
        }
    }

    p {
        line-height: 1.4;
        margin-bottom: 0.625em;
    }

    li {
        margin-bottom: 0.25em;
        font-size: 0.875em;
    }

    @include wider-than($breakpoint-ipad-portrait) {
        float: left;
        width: 32%;

        &:not(:last-child) {
            &:not(:nth-child(3)) {
                margin-right: 2%;
            }
        }
    }
}

@supports (display: grid) {

    .hub-entry {
        margin-bottom: 0;
        width: auto;

        &:not(:last-child) {
            &:not(:nth-child(3)) {
                margin-right: 0;
            }
        }
    }

}
